# dependencies
node_modules
bower_components
.pnp
.pnp.js

# testing
coverage

# production
build

# misc
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
*.sublime*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# xyz
psd
thumb
sketch